---
import CustomHead from '../components/custom-head.astro'
import Footer from '../components/footer.astro'
import CustomFooter from '../components/custom-footer.astro'
import Masthead from '../components/masthead.astro'

import '../assets/css/main.scss'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <CustomHead />
  </head>
  <body class="layout--home">
    <Masthead />

    <div class="initial-content">
      <slot />
    </div>

    <div class="page__footer">
      <footer>
        <CustomFooter />
        <Footer />
      </footer>
    </div>

    <script src="../assets/js/main.min.js"></script>
  </body>
</html>
