<!-- start custom footer snippets -->
<p>
MaineBallot.org was created by Shannon McHarg, a user experience designer living in Maine, and is supported by <a href="http://openmaine.org/">Open Maine</a> volunteers. The goal> of MaineBallot.org is to provide concise, non-partisan information to make it easy to understand the ballot questions pending in Maine, including the questions at the upcoming election on November 6, 2018.

<br><br> While MaineBallot.org strives to present all sides of the arguments for and against the pending ballot questions, there is always a potential for error or bias. We encourage you to consult with other sources of information before you vote. Your choice to access these pages constitutes an acknowledgement that the information provided is not legal or voting advice of any kind. We will be updating this site on a regular basis until election day.

<br><br> Please let us know if we missed something or if you have any suggestions to improve our site. <br>Contact us at: <a href="mailto:maineballot@gmail.com?subject=feedback">maineballot@gmail.com</a>
</P>

<!-- end custom footer snippets -->
