<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NL9DKQ6');</script>
<!-- End Google Tag Manager -->

<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
<!-- start social media cards/OG-->

<!--Facebook-->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Maine Ballot" />
<meta property="og:url" content="https://maineballot.org" />
<meta property="og:site_name" content="Maine Ballot" />
<meta property="og:image" content="https://maineballot.org/assets/img/Other/LogoIcon.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:description" content="The goal of MaineBallot.org is to provide concise, non-partisan information to make it easy to understand the ballot questions pending in Maine" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="1200" />

<!--Twitter-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Maine Ballot" />
<meta name="twitter:image" content="https://maineballot.org/assets/img/Other/LogoIcon.png" />
<meta name="twitter:image:alt" content="Maine Open Ballot" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="1200" />
<meta property="twitter:description" content="The goal of MaineBallot.org is to provide concise, non-partisan information to make it easy to understand the ballot questions pending in Maine." />
<!-- end social media cards -->

<!-- end custom head snippets -->
