---
title: Elections
layout: archive
author_profile: false
---

<h2>State elections</h2>
{% for category in site.categories reversed %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] reversed %}
      <li><a href="{{ post.url }}">{{ post.title }}</a>
        <br>
        <span class="archive__item-excerpt">{{ post.excerpt }}</span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}


<h2>Local elections</h2>
  <ul>
    {% for local in site.local-archive reversed %}
        <li><a href="{{ local.url }}">{{ local.election }}</a>
        </li>
    {% endfor %}
  </ul>

  <h2>Candidates</h2>
    <ul>
      {% for local in site.candidates-archive reversed %}
          <li><a href="{{ local.url }}">{{ local.election }}</a>
          </li>
      {% endfor %}
    </ul>
