
{% include search-in-page.html %}

<h2>Democratic Party</h2>
<h3>Contested races</h3>

<p>There are more than one candidate for these races, so you might need to do some research before making a choice.</p>
<table>
    <thead>
        <tr>
        <th>Office</th>
        <th>District</th>
        <th>County</th>
        <th>Candidate</th>
        <th>Ballotpedia page</th>
        <th>Campaign website</th>
        <th>Comparison</th>
        </tr>
    </thead>
    <tbody>
    {% for candidates in site.data.candidates.[page.datafile] %}
    {% if candidates.Party == "D" %}
    {% if candidates.Contested == "Y" %}
      <tr>
        <td>{{ candidates.Office }}</td>
        <td>{{ candidates.Dist }}</td>
        <td>{{ candidates.County }}</td>
        <td>{{ candidates.FirstName }} {{ candidates.MiddleName }} {{ candidates.LastName }} {{ candidates.Suffix }}</td>

        <td>
          {% if candidates.ballotpedia %}
              <a href="{{ candidates.ballotpedia }}">
                  Ballopedia page
              </a>
          {% endif %}
        </td>
        <td>
          {% if candidates.website %}
              <a href="{{ candidates.website }}">
                  {{ candidates.website_text }}
              </a>
          {% endif %}
        </td>
        <td>
          {% if candidates.comparison %}
              <a href="{{ candidates.comparison }}">
                  {{ candidates.comparison_text }}
              </a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<br><br>
<h3>Uncontested races</h3>
<p>There is only one candidate for these races, so you just need to fill in the oval or write-in another candidate.</p>
<table>
    <thead>
        <tr>
        <th>Office</th>
        <th>District</th>
        <th>County</th>
        <th>Candidate</th>
        <th>Ballotpedia page</th>
        </tr>
    </thead>
    <tbody>
    {% for candidates in site.data.candidates.[page.datafile] %}
    {% if candidates.Party == "D" %}
    {% if candidates.Contested == "N" %}
      <tr>
        <td>{{ candidates.Office }}</td>
        <td>{{ candidates.Dist }}</td>
        <td>{{ candidates.County }}</td>
        <td>{{ candidates.FirstName }} {{ candidates.MiddleName }} {{ candidates.LastName }} {{ candidates.Suffix }}</td>

        <td>
          {% if candidates.ballotpedia %}
              <a href="{{ candidates.ballotpedia }}">
                  Ballopedia page
              </a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<br><br>

<h2>Green Independent Party</h2>
<p>There is only one candidate for these races, so you just need to fill in the oval or write-in another candidate.</p>

<table>
    <thead>
        <tr>
        <th>Office</th>
        <th>District</th>
        <th>County</th>
        <th>Candidate</th>
        <th>Campaign website</th>
        <th>Ballotpedia page</th>
        </tr>
    </thead>
    <tbody>
    {% for candidates in site.data.candidates.[page.datafile] %}
    {% if candidates.Party == "G" %}
      <tr>
        <td>{{ candidates.Office }}</td>
        <td>{{ candidates.Dist }}</td>
        <td>{{ candidates.County }}</td>
        <td>{{ candidates.FirstName }} {{ candidates.MiddleName }} {{ candidates.LastName }} {{ candidates.Suffix }}</td>
        <td>
          {% if candidates.website %}
              <a href="{{ candidates.website }}">
                  {{ candidates.website_text }}
              </a>
          {% endif %}
        </td>
        <td>
          {% if candidates.ballotpedia %}
              <a href="{{ candidates.ballotpedia }}">
                  Ballopedia page
              </a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<br><br>

<h2>Republican Party</h2>

<h3>Contested races</h3>
<p>There are more than one candidate for these races, so you might need to do some research before making a choice.</p>
<table>
    <thead>
        <tr>
        <th>Office</th>
        <th>District</th>
        <th>County</th>
        <th>Candidate</th>
        <th>Ballotpedia page</th>
        <th>Campaign website</th>
        <th>Comparison</th>
        </tr>
    </thead>
    <tbody>
    {% for candidates in site.data.candidates.[page.datafile] %}
    {% if candidates.Party == "R" %}
    {% if candidates.Contested == "Y" %}
      <tr>
        <td>{{ candidates.Office }}</td>
        <td>{{ candidates.Dist }}</td>
        <td>{{ candidates.County }}</td>
        <td>{{ candidates.FirstName }} {{ candidates.MiddleName }} {{ candidates.LastName }} {{ candidates.Suffix }}</td>

        <td>
          {% if candidates.ballotpedia %}
              <a href="{{ candidates.ballotpedia }}">
                  Ballopedia page
              </a>
          {% endif %}
        </td>
        <td>
          {% if candidates.website %}
              <a href="{{ candidates.website }}">
                  {{ candidates.website_text }}
              </a>
          {% endif %}
        </td>
        <td>
          {% if candidates.comparison %}
              <a href="{{ candidates.comparison }}">
                  {{ candidates.comparison_text }}
              </a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<br><br>
<h3>Uncontested races</h3>
<p>There is only one candidate for these races, so you just need to fill in the oval or write-in another candidate.</p>
<table>
    <thead>
        <tr>
        <th>Office</th>
        <th>District</th>
        <th>County</th>
        <th>Candidate</th>
        <th>Ballotpedia page</th>
        </tr>
    </thead>
    <tbody>
    {% for candidates in site.data.candidates.[page.datafile] %}
    {% if candidates.Party == "R" %}
    {% if candidates.Contested == "N" %}
      <tr>
        <td>{{ candidates.Office }}</td>
        <td>{{ candidates.Dist }}</td>
        <td>{{ candidates.County }}</td>
        <td>{{ candidates.FirstName }} {{ candidates.MiddleName }} {{ candidates.LastName }} {{ candidates.Suffix }}</td>

        <td>
          {% if candidates.ballotpedia %}
              <a href="{{ candidates.ballotpedia }}">
                  Ballopedia page
              </a>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endif %}
    {% endfor %}
    </tbody>
</table>
<br><br>
