
{% include table-search.html %}

<table>
    <thead>
        <tr>
        <th>County</th>
        <th>City or town</th>
        <th>Election website</th>
        <th>Ballot drop box</th>
        <th>{{ page.ballot_description }}</th>
        <th>Sample ballot or warrant</th>
        </tr>
    </thead>
    <tbody>
    {% for local in site.data.local_elections[page.datafile] %}
      <tr>
        <td>{{ local.county }}</td>
        <td>{{ local.city }}</td>
        <td>
          {% if local.website %}
              <a href="{{ local.website }}">
                  {{ local.city }} {{ local.type }} website
              </a>
          {% endif %}
        </td>
        <td>{{ local.drop }}</td>
        <td>{{ local.ballot }}</td>
        <td>
          {% if local.ballot_link %}
            {% if local.ballot_link contains "/assets/docs/" %}
              <a href="{{ local.ballot_link | relative_url }}">
                {{ local.ballot_link_text }}
              </a>
            {% else %}
              <a href="{{ local.ballot_link }}">
                {{ local.ballot_link_text }}
              </a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
