---
import { getCollection } from 'astro:content'

import { getEntryUrl } from '#utils/get-url'
import GlobalLayout from '#layouts/global-layout.astro'
import Container from '#components/container.astro'

export async function getStaticPaths() {
  const allLocal = await getCollection('local')
  return allLocal.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const allLocal = await getCollection('local')
---

<GlobalLayout>
  <Container>
    <div>
      <a href={getEntryUrl(allLocal[0])}>Test</a>
    </div>
  </Container>
</GlobalLayout>
