---
import { getCollection } from 'astro:content'

import { getEntryUrl } from '#utils/get-url'

export async function getStaticPaths() {
  const allLocal = await getCollection('local')
  return allLocal.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const allLocal = await getCollection('local')
---

<div>
  <a href={getEntryUrl(allLocal[0])}>Test</a>
</div>
