---
import type { CollectionEntry } from 'astro:content';
import global from '../data/global.json'
import { Image } from 'astro:assets';

type Props = {
  post: CollectionEntry<'posts'>,
  layout: 'list' | 'grid'
}

const {post, layout} = Astro.props;

const teaser =  post.data.header.teaser || global.teaser

---

<div class={layout === 'grid' ? 'grid__item' : 'list__item'}>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      { layout === 'grid' && teaser.src ? (
        <div>
          <Image src={teaser} alt="" />
        </div>
        ) : null }
    <h2 class="archive__item-title" itemprop="headline">
      <!-- {
        post.link ? (
          <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        ) : ( -->
          <a href=`/ballot-measure/${post.slug}` rel="permalink">{ post.data.title }</a>
        <!-- )
      } -->
    </h2>
    <!-- { post.read_time ? (
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    ) : null} -->
    {post.data.excerpt ? (
      <p class="archive__item-excerpt" itemprop="description">{ post.data.excerpt }</p>
    ) : null}
  </article>
</div>