<!-- start custom footer snippets -->
<p>
  MaineBallot.org was created by Shannon McHarg, a user experience designer living in Maine, and is supported by <a href="http://openmaine.org/">OpenMaine</a> volunteers.
  </p>
  <p>
      <a href="/about">Learn more about the project here.</a>
  </p>

  <!-- end custom footer snippets -->
