---
import global from '../data/global.json'
---

<div class="page__footer-copyright">&copy; {new Date().getFullYear()} {global.title}. Powered by<a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>