---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.medium-blue{
    background-color: #2f6585;
    padding: 5px;
    position: relative;
    clear:all;
}

.full-wide{
    //position: absolute;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.text-white{
    color: #ffffff;
}

.dark-blue{
    background-color: #205173;
    padding: 5px;
    
}

.home-hr{
    background-color: #2f6585;
    margin-left: auto;
    margin-right: auto;
    width:25%; 
    height:3pt;
}

.home-banner-link{
    color:#EAE6D2;
}
.home-banner-link:hover{
    color:#EAE6B9;
}
.home-banner-link:visited{
    color:#EAE6D2;
}

.home-ballots-header{
    color:#686867;
}

.img-home-info{
    height:auto;
    width:100px;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}
.flex-cell{
    padding: 15px;
}

.flex-column{
    width:100%;
    display:flex;
    text-align: center;
}

@media (min-width: 768px) {

    .flex-column {
      width: 50%;
      text-align:left;
    }
    img.img-home-info{
        width:158px;
    }
  }

.content-lrg-b{
    font-size: $type-size-2;//40pt;
    font-weight: bold;
}

.content-med-b{
    font-size: $type-size-4;//22pt;
    font-weight: bold;

}

.content-sm-b{
    font-size:$type-size-5;//20pt;
    font-weight: bold;
}