---
import bondProcess from '#assets/img/Other/BondProcess.jpg';
import Container from '#components/container.astro';
import GlobalLayout from '#layouts/global-layout.astro';
import { Image } from 'astro:assets';
---

<GlobalLayout
  title="How bonds work"
  description="Learn about how bonds work, what they're used for, how they're typically funded, and how they're paid back."
>
  <Container class="my-16">
    <h1 class="text-4xl font-bold mb-8 text-neutral-700">How bonds work</h1>

    <div class="prose prose-neutral max-w-none">
      <h2>The gist</h2>
      <p>
        Bonds work by borrowing money now to pay for new things or big improvements to old things that require big
        expense, but we'll benefit from over a long time. Sometimes the things we fund will pay back the money borrowed
        through revenue they generate, such as a new bridge that can bring in tolls, but most of the time we pay back
        the money borrowed through the regular budget or adding new taxes.
      </p>
      <h2>Tell me more</h2>
      <p>Here is a more detailed look at how the bond process works.</p>
      <Image
        src={bondProcess}
        alt="Image of bond process. Need Identification: Something new or an improvement to something needs to be paid for. If regular expense, look for money in the budget or raise taxes.  If not a regular expense, bond proposal sent to legislature. Approval: If legislature does not approve (2/3 of both houses), bond dies. If legislature approves (2/3 of both houses), bond is either a general obligation bond if it’s not revenue generating or a revenue bond if it’s revenue generating and the bond goes on the ballot. If voters don’t approve, the bond dies.  If voters approve, the state can start borrowing money. Borrowing: Municipal bond is put on the bond market to raise funds.  If the bond is matching, funds to match amounts raised come in.  Funds are spent to make the improvement.  Pay back: For general obligation bonds, the state pays money back (plus interest) from budget or new taxes.  For revenue bonds, money comes in from the improvement.  If there’s not enough revenue to pay back the bond, the bond may paid back from the budget or new taxes."
      />
      <h2>Follow the money</h2>
      <h3>The money will be used to:</h3>
      <ul>
        <li>Bonds are used to pay for large, one-time expenses, such as infrastructure improvements.</li>
        <li>
          Usually, the benefits of the thing we’re paying for last for a long time, so it makes sense to fund the
          expense over time.
        </li>
      </ul>
      <h3>The money will be coming from:</h3>
      <ul>
        <li>Initially, the money is borrowed from people who purchase municipal bonds.</li>
        <li>
          Over the course of the payback period (usually around 10 years), the money comes from either revenue generated
          by the improvement (i.e. tolls collected from a new bridge) or by finding room in the budget or adding new
          taxes.
        </li>
      </ul>
      <h2>Pros</h2>
      <p>The primary arguments for bonds are:</p>
      <ul>
        <li>
          Bonds allow a government to pay for large improvements up front, but spread the cost over the useful life of
          the thing they’re funding.
        </li>
      </ul>
      <h2>Cons</h2>
      <p>The primary arguments against bonds are:</p>
      <ul>
        <li>
          If a government entity racks up too much bond debt, it can be difficult to pay them back. There have been
          cities and towns that have gone bankrupt because they couldn’t pay back their bonds.
        </li>
      </ul>
      <h2>Further reading</h2>
      <ul>
        <li>
          <a href="https://www.kalw.org/show/crosscurrents/2016-11-02/what-exactly-are-these-municipal-bonds-all-over-your-ballot"
            >Public Radio Episode</a
          >
        </li>
        <li>
          <a href="https://www.maine.gov/treasurer/maine.gov/treasurer/debts-bonds/state-bond-process">Maine State Bond Process</a>
        </li>
        <li>
          <a href="https://ballotpedia.org/Bond_issue">Ballotpedia Article</a>
        </li>
      </ul>
      <h2>References</h2>
      <ol>
        <li>
          Dalmas, Jeremy. <a
            href="https://www.kalw.org/show/crosscurrents/2016-11-02/what-exactly-are-these-municipal-bonds-all-over-your-ballot"
            >What exactly are these municipal bonds all over your ballot?</a
          >. KALW. Accessed October 21, 2018.
        </li>
        <li>
          Maine State Treasurer. <a href="https://www.maine.gov/treasurer/maine.gov/treasurer/debts-bonds/state-bond-process"
            >State Bond Process</a
          >. Accessed October 21, 2018.
        </li>
        <li>
          Ballotpedia State Desk. <a href="https://ballotpedia.org/Bond_issue">Bond Issue</a>. Ballotpedia. Accessed
          October 21, 2018.
        </li>
      </ol>
    </div>
  </Container>
</GlobalLayout>
