---
import Container from '#components/container.astro'
import GlobalLayout from '#layouts/global-layout.astro'
---

<GlobalLayout>
  <Container class="my-16">
    <h1 class="text-4xl font-bold mb-8 text-neutral-700">Contributors</h1>

    <div class="prose prose-neutral">
      <h2>2023</h2>
      <ul>
        <li>Shannon McHarg</li>
        <li>Chris Bridgham</li>
        <li>Arielle Morabito</li>
        <li>Ryan Johnson</li>
        <li>JB Hutch</li>
        <li>Pete Brown</li>
        <li>Dan Pulitano</li>
        <li>Jason Day</li>
        <li>Nathan Grant</li>
      </ul>
      <h2>2022</h2>
      <ul>
        <li>Shannon McHarg</li>
        <li>Chris Bridgham</li>
        <li>Nathan Bernard</li>
        <li>Ryan Johnson</li>
      </ul>
      <h2>2021</h2>
      <ul>
        <li>Shannon McHarg</li>
        <li>Ryan Johnson</li>
        <li>Caitlin Marshall</li>
        <li>Arielle Morabito</li>
      </ul>
      <h2>2020</h2>
      <ul>
        <li>Shannon McHarg</li>
        <li>Ryan Johnson</li>
        <li>Nathan Grant</li>
        <li>Jessica Roskowinski</li>
        <li>Andy Almand-Hunter</li>
        <li>Chris Bridgham</li>
        <li>Curtis Kozielec</li>
        <li>Mel McGovern</li>
        <li>Em Burnett</li>
        <li>John Brooking</li>
        <li>Cristos Lianides-Chin</li>
        <li>Matt Boutet</li>
        <li>Don McHarg</li>
        <li>Laura Eberly</li>
        <li>Jennifer Thibault</li>
        <li>Dan Pulitano</li>
      </ul>
      <h2>2019</h2>
      <ul>
        <li>Shannon McHarg</li>
        <li>Ryan Johnson: Development, content strategy, moving the site to open source</li>
        <li>Andy Almand-Hunter: Development</li>
        <li>Chris Bridgham: Content creation and review</li>
        <li>Nathan Grant: Content creation and review</li>
        <li>Curtis Kozielec: Development, content creation</li>
      </ul>
      <h2>2018</h2>
      <ul>
        <li>Shannon McHarg: Design, content creation</li>
        <li>Jared Gebel: Content creation</li>
        <li>Jessica Roskowinski: Content review</li>
        <li>Nick Kaufman: Content review</li>
        <li>Clare Congdon: Content review</li>
        <li>Nathan Grant: Content review</li>
      </ul>
      <h2>2017</h2>
      <ul>
        <li>Shannon McHarg: Design, content creation</li>
        <li>Jessica Roskowinski: Content management and review</li>
      </ul>
      <h2>2016</h2>
      <ul>
        <li>Shannon McHarg: Design, content creation</li>
      </ul>
      <p>
        <a href="http://openmaine.org/">OpenMaine</a> has been a source of volunteers since 2018.
      </p>
    </div>
  </Container>
</GlobalLayout>
