---
import Container from '#components/container.astro'
import GlobalLayout from '#layouts/global-layout.astro'
import { ELECTIONS } from '#utils/constants'
import dayjs from 'dayjs'
---

<GlobalLayout
  title="How to vote in Maine"
  description="A list and explanation of the multiple ways you can vote in Maine."
>
  <div class="bg-[#2f6585]">
    <Container class="text-center py-10 text-white">
      <p class="font-medium text-xl lg:text-2xl mb-2">The next Maine election is</p>
      <p class="font-bold text-3xl md:text-4xl lg:text-5xl mb-3">
        {dayjs(ELECTIONS.upcoming.date).format('MMMM D, YYYY')}
      </p>
      <p class="font-bold text-xl">{ELECTIONS.upcoming.title}</p>
    </Container>
  </div>
  <Container class="my-16">
    <h1 class="text-4xl font-bold mb-8 text-neutral-700">How to vote in Maine</h1>
    <div class="prose prose-neutral max-w-none">
      <p>
        People over 18 who have a fixed principal residence in Maine can vote in state elections. You must register to
        vote in the community you live in.
      </p>
      <h2>Registering to vote</h2>
      <p>
        Maine has no deadline for registering in person at your town office or city hall. You can also register to vote
        by mail up to 21 days before an election.
      </p>
      <p>
        <a href="https://www.maine.gov/sos/cec/elec/voter-info/votreg.html">Register to vote</a>
      </p>
      <h2>Voting in person on election day</h2>
      <p>
        Polls in Maine open somewhere between 6:00 and 10:00 AM depending on the size of the town and all close at 8:00
        PM on election day.
      </p>
      <p>
        <a href="https://www.maine.gov/portal/government/edemocracy/voter_lookup.php">Find your polling place</a>
      </p>
      <h2>Voting by mail</h2>
      <p>
        Anyone registered to vote in Maine can vote by mail by <a
          href="https://www.maine.gov/cgi-bin/online/AbsenteeBallot/index.pl">requesting an absentee ballot</a
        >. Ballots will be available about one month prior to the election, and you do not need to provide a reason for
        the request.
      </p>
      <p>
        You can also pick up a ballot at your <a href="https://www.maine.gov/sos/cec/elec/munic.html">
          municipal clerk's office</a
        > or by calling your town clerk's office.
      </p>
      <p>
        After you fill out your ballot, you can send it back in the mail (it's recommended to send it in at least 15
        days before the election due to USPS delays) or you can take it to your <a
          href="https://www.maine.gov/sos/cec/elec/munic.html"
        >
          municipal clerk's office.</a
        >
      </p>
      <ul>
        <li>
          <a href="/ballotfill/">Tips for completing an absentee ballot</a>
        </li>
        <li>
          <a href="https://apps.web.maine.gov/cgi-bin/online/AbsenteeBallot/ballot_status.pl"
            >Check absentee ballot status</a
          >
        </li>
        <li>
          <a href="https://www.maine.gov/sos/cec/elec/voter-info/absenteeguide.html"
            >More information about absentee voting</a
          >
        </li>
      </ul>
      <h2>Voting early</h2>
      <p>
        You can also vote in-person early at your <a href="https://www.maine.gov/sos/cec/elec/munic.html"
          >municipal clerk's office</a
        >, usually about a month before the election. For the November 2020 election, most towns allow early voting
        until October 30.
      </p>
      <h2>Accessible absentee voting</h2>
      <p>The state has an online system for people with print disabilities that prevent marking a paper ballot.</p>
      <p>
        <a href="https://www.maine.gov/sos/cec/elec/voter-info/accessiblevoting.html"
          >Learn more about accessible absentee voting</a
        >
      </p>
      <h2>Additional resources</h2>
      <iframe
        loading="lazy"
        class="aspect-video max-w-full"
        width="560"
        src="https://www.youtube.com/embed/8lXsFDcmJZQ?si=qJJiEjKixhCy2tcf"
        title="YouTube embedded video of How to Vote in Maine"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <ul>
        <li>
          <a href="https://nerdfighteria.info/v/8lXsFDcmJZQ/">How to Vote in Maine Transcript</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC7SMwipBlDwBPEwxq8QD8sw">How to vote in every state</a>
        </li>
      </ul>
    </div>
  </Container>
</GlobalLayout>
