---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { getEntryUrl } from '#utils/get-url'

interface Props {
  ballotMeasure: CollectionEntry<'ballot-measures'>
  layout: 'list' | 'grid'
}

const { ballotMeasure, layout } = Astro.props

const teaser = ballotMeasure.data.header.teaser
---

<div class={layout === 'grid' ? 'grid__item' : 'list__item'}>
  <article
    class="archive__item"
    itemscope
    itemtype="http://schema.org/CreativeWork"
  >
    {
      layout === 'grid' && teaser.src ? (
        <div>
          <Image src={teaser} alt="" />
        </div>
      ) : null
    }
    <h2 class="archive__item-title" itemprop="headline">
      <a href={getEntryUrl(ballotMeasure)} rel="permalink"
        >{ballotMeasure.data.title}</a
      >
    </h2>
    {
      ballotMeasure.data.excerpt ? (
        <p class="archive__item-excerpt" itemprop="description">
          {ballotMeasure.data.excerpt}
        </p>
      ) : null
    }
  </article>
</div>
