---
import { SITE_META } from '#utils/constants'
---

<div class="page__footer-copyright">
  <p>
    &copy; {new Date().getFullYear()}
    {SITE_META.siteTitle}. Powered by
    <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp;
    <a
      href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"
      rel="nofollow">Minimal Mistakes</a
    >.
  </p>
</div>
