---
import { SITE_META } from '#utils/constants'
---

<div class="mx-auto max-w-7xl px-6">
  <div>
    <p>
      MaineBallot.org was created by Shannon McHarg, a user experience designer
      living in Maine, and is supported by <a href="http://openmaine.org/"
        >OpenMaine</a
      > volunteers.
    </p>
    <p>
      <a href="/about">Learn more about the project here.</a>
    </p>
  </div>

  <div>
    <p>
      &copy; {new Date().getFullYear()}
      {SITE_META.siteTitle}. Powered by
      <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp;
      <a
        href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"
        rel="nofollow">Minimal Mistakes</a
      >.
    </p>
  </div>
</div>
