---
import { SITE_META } from '#utils/constants'
---

<div class="bg-neutral-100 py-7 lg:py-12">
  <div class="mx-auto max-w-7xl px-6">
    <div>
      <p class="text-sm lg:text-base mb-4 text-neutral-600">
        MaineBallot.org was created by Shannon McHarg, a user experience designer living in Maine, and is supported by <a
          href="http://openmaine.org/"
          class="underline">OpenMaine</a
        > volunteers.
      </p>
      <p class="text-sm lg:text-base mb-4 text-neutral-600">
        <a href="/about" class="underline">Learn more about the project here.</a>
      </p>
    </div>
    <div>
      <p class="text-sm lg:text-base text-neutral-600">
        &copy; {new Date().getFullYear()}
        {SITE_META.title}. Powered by
        <a href="https://astro.build/" class="underline" rel="nofollow" target="_blank">Astro</a>
        and designed based on
        <a
          href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"
          class="underline"
          rel="nofollow"
          target="_blank">Minimal Mistakes</a
        >.
      </p>
    </div>
  </div>
</div>
