---
import Container from '#components/container.astro'
import GlobalLayout from '#layouts/global-layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const allPosts = await getCollection('posts')
  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<GlobalLayout>
  <Container>
    <div>
      <pre>{ JSON.stringify(post, null, 2) }</pre>

      <Content />
    </div>
  </Container>
</GlobalLayout>
