---
import Container from '#components/container.astro'
import GlobalLayout from '#layouts/global-layout.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
---

<GlobalLayout>
  <Container>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/ballot-measure/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Container>
</GlobalLayout>
