---
import { getEntryUrl } from '#utils/get-url'
import { getCollection } from 'astro:content'

const allBallotMeasures = await getCollection('ballot-measures')
---

<ul>
  {
    allBallotMeasures.map((bm) => (
      <li>
        <a href={getEntryUrl(bm)}>{bm.data.title}</a>
      </li>
    ))
  }
</ul>
