---
layout: archive
---

{{ content }}


<h2 style="text-align: center;">The next election is <strong>{{ site.data.elections.current_election | date: "%B %-d, %Y"}}</strong></h2>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Ballot questions" }}</h3>

{% for post in paginator.posts reversed %}
  {% if post.election == site.data.elections.current_election %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}

<!--{% include paginator.html %}-->
