---
layout: archive
---

{{ content }}


{% include election-day.html %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Ballot questions" }}</h3>

{% for post in paginator.posts reversed %}
  {% if post.election == site.data.elections.current_election %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}

<!--{% include paginator.html %}-->

<br><br>Curious about how this website got started? Listen to the story on the <a href="https://civictech.chat/2019/07/maine-ballot">Civic Tech Chat podcast</a>.
