.complete-ab-ballot-heading {
    font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: .88rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    color: #757575;
}

.ab-ballot-list {
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    counter-reset: ab-ballot-numbered-list;
    padding: 20px 0 0 calc((2.5rem/2) - (.5rem/2));
    position: relative;
}

.ab-ballot-list-item {
    border-left: .5rem solid #d9e8f6;
    font-size: 1.06rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-left: calc(calc((2.5rem/2) - .25rem)*2);
}

li.ab-ballot-list-item {
    margin-left: 0.3rem;
}

.ab-ballot-list-item::before {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 99rem;
    background-color: #fff;
    border: .25rem solid #1b1b1b;
    box-shadow: 0 0 0 .25rem #fff;
    color: #1b1b1b;
    content: counter(ab-ballot-numbered-list,decimal);
    counter-increment: ab-ballot-numbered-list;
    display: flex;
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.33rem;
    font-weight: 700;
    height: 2.5rem;
    left: 0;
    line-height: .9;
    margin-top: -.4rem;
    position: absolute;
    width: 2.5rem;
}

.ab-ballot-list-heading {
    font-size: 1.33rem;
    line-height: 1.1;
    color: #1b1b1b;
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 700;
    margin: 0;
}